header{
  display: flex;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  width: 100%;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 5;
  background-color: white;
}
header h1{
  color: mediumaquamarine;
  font-size: 14px;
  margin: 5px;
}
header nav{
  display: inline-block;
  position: absolute;
  right: 10px;
}
header nav span{
  justify-content: space-between;
  padding: 5px;
}
.main{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.first{
  flex-direction: column;
  margin-top: 50px;
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}
.mini1{
  display: block;
  margin-right: 5px;
}
.mini2{
  display: block;
  margin-left: 5px;
}
.bigmini{
  display: flex;
  justify-content: space-between;
}
.first .img1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  display: flex;
  height: 300px;
}
.first .img1 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.first .img2 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.first .img3 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.first p{
  display: inline-flex;
}
.first .orca{


}
.first .img2{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  display: flex;
  height: 300px;
}
.first .burgers{

}
.first .img3{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  display: flex;
  height: 300px;

}
.second{
  flex-direction: column;
  margin-top: 50px;
  width: 300px;
  display: flex;
}
.second .fbi{

}
.second .img1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  display: flex;
  height: 300px;
}
.second .img1 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.second p{

}
.third{
  flex-direction: column;
  margin-top: 50px;
  width: 240px;
  display: flex;
}
.third .cookie{

}
.third .news{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.img1 .img2 .img3{
  height: 300px;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.newsbites{
  background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
 justify-content: space-around;
}
.newsbites h3{
  border-bottom: 1px solid black;
  margin: 0;
  display: block;
  padding: 11px 20px;
}
